@page "/animalregistration"
@using AnimalShelter.Data
@inject ShelterCalendarService CalendarService 
@inject ShelterAnimalService AnimalService 

<h1>Animal registration</h1>

<p>At @DateTime.Today.ToShortDateString() we have @AnimalService.GetAnimalCountText() animals.</p>

<button class="btn btn-primary" @onclick="AddAnimal">Add animal</button>
<button class="btn btn-primary" @onclick="RemoveAnimal">Remove animal</button>

<h2>Animal Information</h2>

Name: <input type="text" @bind="_animalName"/><br/><br/>


@code {
    private string _animalName;
    private const int AnimalCapacity = 20;
    private int animalCount = 0;

    
    private void AddAnimal()
    {
        AnimalService.AddAnimal(_animalName);
    }

    private void RemoveAnimal()
    {
        if (CalendarService.IsShelterOpen() && animalCount > 0)
        {
            animalCount--;
        }
    }
}
