@page "/animalregistration"

<h1>Animal registration</h1>

<p>At @DateTime.Today.ToShortDateString() we have @GetAnimalCountText() animals.</p>

<button class="btn btn-primary" @onclick="AddAnimal">Add animal</button>
<button class="btn btn-primary" @onclick="RemoveAnimal">Remove animal</button>
<p></p>

@code {
    private int animalCount = 0;
    //private string animalCountMessage = "no";
    //At 2020-02-09 we have no animals
    //private string infoMessage = string.Empty;
    private int maxAnimalCapacity = 20;
    private string GetAnimalCountText()
{
    if (animalCount == 0)
    {
        return "no";
    }
    else if (animalCount == maxAnimalCapacity)
    {
        return animalCount.ToString() + " (full capacity)";
    }
    else
    {
        return animalCount.ToString();
    }
}
    private void AddAnimal()
    //If there are 20 animals your page should look like this:
    //At 2020-02-09 we have 20 (full capacity) animals
    {
     //   infoMessage = string.Empty;
      if (animalCount < maxAnimalCapacity)
        {
            animalCount++;
       //     animalCountMessage = animalCount.ToString();
       //     infoMessage = "You added one animal";
         }
        
    }

    private void RemoveAnimal()
    //Otherwise it should stay the same as it was before:
    // At 2020-02-09 we have 5 animals`
    {
        //infoMessage = string.Empty;
        if (animalCount > 0)
            {
                animalCount--;
            }
          
    }
}
